<div class="layui-row">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>AD Group</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="groupName" name="groupName" placeholder="Group Name" />
        </div>
        <div class="layui-input-inline" style="width:100px;">
            <button class="layui-btn layui-btn-primary" onclick="ADGroupFindOne()"><i class="layui-icon layui-icon-search"></i></button>
        </div>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-primary" onclick="ADGroupFindAll()">All Group</button>
        </div>
    </div>
</div>
<hr />
<div class="layui-row" id="divTools"></div>

@Html.AntiForgeryToken()

@section Scripts{
    <script type="text/javascript">
        $('#groupName').on('keypress', function (e) {
            if (e.which == 13) {
                ADGroupFindOne();
            }
        })
    </script>
}
